/* Font: Mulish 300, 400, 700, 800 */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,900&family=Mulish:wght@300;400;700;800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Merriweather", serif;
  font-family: "Mulish", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Header Styles */

body {
  padding: 10px 130px;
}
/* Nav Styles */
.title-logo {
  display: flex;
  gap: 16px;
  align-items: center;
}
.title-logo h3 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
nav span {
  color: #ff5400;
}
.title-logo img {
  width: 47px;
  height: 55px;
}
.item-container {
  display: flex;
  justify-content: space-between;
}
.item-container > ul {
  display: flex;
  margin-left: 600px;
}
.item-container li {
  list-style: none;
  color: #424242;
  margin-right: 45px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.item-container a {
  text-decoration: none;
  color: #424242;
}

/* Banner Styles */
.banner-container {
  margin-top: 50px;
  text-align: center;
}
.banner-text {
  width: 675px;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-text h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  text-shadow: 0px 0px 10px #131318, 0px 0px 20px #fff, 0px 0px 40px #fff;
}
.banner-text p {
  margin-top: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 400px;
  text-shadow: 0px 0px 10px #131318, 0px 0px 20px #000000, 0px 0px 40px #000000;
}
.box-btn .box{
  display: flex;
  position: relative;
  right: 50px;
}
  
.box input[type="text"] {
  margin-top: 64;
  width: 174px;
  height: 52px;
  padding-left: 16px;
  margin-right: 24px;
  border-radius: 8px;
  border-color: #fff;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
}
.select-box{
  margin-top: 64;
  width: 174px;
  height: 52px;
  padding-left: 16px;
  margin-right: 24px;
  border-radius: 8px;
  border-color: #fff;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
}
.btn button{
  width: 174px;
height: 52px;
color: #fff;
background-color: #ff5400;
border-color: #fff;
}
























@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }
  .item-container {
    display: none;
  }
  .banner-img{
    width: 580px;
  }
  .banner-text h1 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
  .banner-text {
    width: 675px;
    top: 70%;
    left: 150%;
}
}
